<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="card">
          <div class="card-header" data-background-color="red">
              <h4 class="title">Highlight Directive</h4>
          </div>
          <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                        <h4>Pick a highlight color</h4>
                        <div>
                          <p><input type="radio" name="colors" (click)="color='lightgreen'"> Green</p>
                          <p><input type="radio" name="colors" (click)="color='yellow'"> Yellow</p>
                          <p><input type="radio" name="colors" (click)="color='cyan'"> Cyan</p>
                        </div>
                        <hr>
                        <p class="hover" >Hover me!</p>
                    </div>
                </div>
            </div>                 
          </div>
      </div>
    </div>
  </div>
</div>