<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title"> Angular "if" Directive</h4>
                        <p class="category">This card will be used to demonstrate the *ngIf directive</p>
                    </div>
                    <div class="card-content">
                        <button (click)="toggleText()" class="btn btn-danger"> Toggle text </button>
                        <h5> This text will be manipulated by the button </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title"> Angular "for" Directive</h4>
                        <p class="category">This table will be used to demonstrate the *ngFor directive</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Company</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>To</td>
                                    <td>Fill</td>
                                    <td>From</td>
                                    <td>API</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>