
<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Property binding</h4>
                    </div>
                    <div class="card-content">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Property binding input</label>
                                  <input type="text" class="form-control" >
                                  <br>
                                  <p><strong>Result: </strong></p>
                              </div>
                          </div>
                      </div>                 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Event binding</h4>
                    </div>
                    <div class="card-content">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Event binding input</label>
                                  <input type="text" class="form-control" >
                                  <br>
                                  <p><strong>Result: </strong></p>
                              </div>
                          </div>
                      </div>                 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Two way data-binding</h4>
                    </div>
                    <div class="card-content">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Input</label>
                                  <input type="text" class="form-control" >
                              </div>
                          </div>
                          <div class="col-md-12">
                                <div class="form-group">
                                    <label>Output</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                      </div>                 
                    </div>
                </div>
            </div>

        </div> 

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" data-background-color="purple" > 
                <h4 class="title">Template Binding</h4>
              </div>
              <div class="card-content">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <h5>Template Binding is used to evaluate expressions and render them to the page.</h5>
                              <br>
                              <p><strong>Result: </strong></p>
                          </div>
                      </div>
                  </div>                 
                </div>
            </div>
          </div>
        </div>

    </div>
</div>