<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Angular built-in Pipes</h4>
                    </div>
                    <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-black label-floating is-empty">                        
                                <label>Lowercase Pipe</label>
                                <p> {{ lowerCaseExample }} </p> 
                                <label>Uppercase Pipe</label>
                                <p> {{ upperCaseExample }} </p>
                                <label>Date Pipe</label>
                                <p> {{ dateExample }} </p>
                                <label>Currency Pipe</label>
                                <p> {{ currencyExample }} </p>
                                <label>Percent Pipe</label>
                                <p> {{ percentExample }} </p>
                            </div>
                        </div>
                    </div>                 
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Custom Pipes</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group form-black label-floating is-empty">                        
                                    <label class="control-label">Number to raise exponentially</label>
                                    <input [(ngModel)]="exponentialExample" type="text" class="form-control" >                                
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-black label-floating is-empty">                        
                                    <label class="control-label">Exponent</label>
                                    <input [(ngModel)]="exponent" type="number" class="form-control" >                                
                                </div>
                            </div>
                        </div>                 
                        <p><strong>Exponential result: {{ exponentialExample }} </strong></p>                             
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>