<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Reactive Forms / Model Driven Forms</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <form novalidate>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input type="number" class="form-control">
                                        </div>
                                    </form>
                                    <p><strong>Form value:</strong> {{ reactiveFormGroup.value | json }}</p>
                                </div>
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Template Driven Forms</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <form #templateForm="ngForm">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input type="number" class="form-control">
                                        </div>
                                    </form>
                                    <p><strong>Form value:</strong> {{ templateForm.value | json }} </p>
                                </div>
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>